* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /*All transitions will have this delay*/
    transition-duration: 300ms;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #0F172A;
    color: white;
    padding: 8px;
}

main {
    max-width: 800px;
    /*self centering*/
    margin: 0 auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
main > h1 {
    font-weight: 800;
    color: cyan;
    text-shadow: 0 0 4px skyblue;
    text-align: center;
    user-select: none;
    margin: 32px 0;
    text-transform: uppercase;
    border-bottom: 1px solid cyan;
}

ul li {
    text-transform: capitalize;
    list-style: none;
    user-select: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    padding: 8px;
    min-width: fit-content;
    max-width: 100% !important;
}

ul li:hover {
    color: goldenrod;
    background-color: black;
    border-left: 1px solid goldenrod;
}

ul li i {
    padding: 0 6px 0 0;
    color: white !important;
}

.lins:nth-child(3n) {
    background: linear-gradient(to right, #00C9FF, #92FE9D);
}

.lins:nth-child(3n+1) {
    background: linear-gradient(to right, #fc00ff, #00dbde);
}

.lins:nth-child(3n+2) {
    background: linear-gradient(to right, #D38312, #A83279);
}

#url {
    color: goldenrod;
    text-align: center;
    padding: 2px 4px;
    margin: 4px auto;
    font-size: 0.8rem;
}

footer {
    display: grid;
    place-items: center;
}

footer:hover {
    color: goldenrod;
    cursor: pointer;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: inherit;
}